@media screen and (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 12px;
  }

  .title {
    font-size: 100px;
    letter-spacing: 1.1px;
  }

  .button {
    padding: 11px 35px;
    font-size: 19px;
    letter-spacing: 0.8px;
  }

  /* header */

  .header__top {
    max-width: 241px;
  }

  .button_menu {
    padding: 0;
  }

  .header__logo {
    transform: translateY(3px);
  }

  /* hero */

  .hero__wrapper {
    min-height: 459px;
    padding-top: 128px;
  }

  .hero__middle {
    padding-left: 294px;
    margin-bottom: 35px;
  }

  .hero__container {
    padding: 0;
  }

  .hero__text-wrapper {
    background-image: url(../img/hero-block-top-1024.webp);
  }

  .hero__bottom {
    margin-right: 150px;
    padding-left: 85px;
    background-image: url(../img/hero-block-bottom-1024.webp);
  }

  /* about */

  .about__buttons {
    padding: 32px 0;
    gap: 20px;
  }

  .about__bottom {
    padding: 42px 40px;
    background-image: url(../img/about-background-1024.webp);
  }

  .about__text-wrapper {
    max-width: 591px;
    padding: 30px 30px 28px;
  }

  .about__text {
    text-align: center;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: -1.2px;
  }

  /* stages */

  .stages__container {
    min-height: 750px;
    padding: 42px 12px;
    background-image: url(../img/stages-background-1024.webp);
  }

  /* experts */

  .experts__container {
    padding: 42px 12px 44px;
  }

  .expert {
    width: 236px;
  }
  .experts__list {
    gap: 7px;
  }

  /* nominations */

  .nominations {
    padding-top: 42px;
  }

  .nominations__list {
    gap: 20px 8px;
    margin-bottom: 42px;
  }

  .nominations__button-container {
    margin-inline: -12px;
    padding: 32px 12px;
    background-image: url(../img/nominations-background-1024.webp);
  }

  .nominations__button {
    line-height: 140%;
  }

  /* video */

  .video {
    padding: 42px 0;
  }

  .video__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .video__player {
    max-width: 1000px;
  }

  .video__text {
    max-width: 846px;
    font-size: 24px;
    text-align: center;
    line-height: 142%;
  }

  .video__player iframe {
    height: 523px;
    width: 1000px;
  }

  /* winners */

  .winners__container {
    padding: 40px 12px;
    background-image: url(../img/winners-background-1024.webp);
    background-position-y: -3px;
  }

  .winners__container::after,
  .winners__container::before {
    content: "";
    display: none;
  }

  /* program */

  .program {
    padding: 42px 12px;
  }

  .program__speeker-name {
    font-size: 20px;
  }

  .program__item {
    gap: 21px;
  }

  .program__time {
    display: none;
  }

  .program__time--tablet {
    display: block;
  }

  .program__text {
    max-width: 399px;
  }

  .program__wrapper {
    gap: 33px;
  }

  /* partners */

  .partners {
    padding: 42px 12px;
  }

  /* contacts */

  .contacts__container {
    padding: 42px 12px 55px;
    background-image: url(../img/contacts-background-1024.webp);
    background-repeat: no-repeat;
  }

  .contacts__container::after,
  .contacts__container::before {
    content: "";
    display: none;
  }

  .footer {
    padding: 42px 0;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }

  .button {
    padding: 5px 9px;
    font-size: 17px;
  }

  .button--external {
    gap: 4px;
  }

  .subtitle {
    font-size: 16px;
  }

  /* header */

  .button_menu {
    padding: 0;
  }

  .header__top {
    max-width: 198px;
  }

  .header__logo {
    width: 102px;
    height: 20px;
    transform: none;
  }

  /* hero */

  .hero__wrapper {
    padding-top: 71px;
    min-height: 336px;
  }

  .hero__text {
    font-size: 15px;
    line-height: 114%;
  }

  .title {
    font-size: 80px;
  }

  .hero__middle {
    gap: 8px;
    padding-left: 223px;
    margin-bottom: 37px;
  }

  .hero__middle::before {
    width: 153px;
    height: 153px;
  }

  .hero__middle::before {
    background-image: url(../img/hero-block-768.webp);
  }

  .hero__text-wrapper {
    padding: 8px;
    background-image: url(../img/hero-block-top-768.webp);
  }

  .hero__bottom {
    margin-right: 54px;
    padding-left: 84px;
    background-image: url(../img/hero-block-bottom-768.webp);
  }

  /* about */

  .about__container {
    padding: 0;
  }

  .about__bottom {
    padding: 32px 12px;
    background-image: url(../img/about-background-768.webp);
  }

  .about__buttons {
    padding: 22px 12px;
    gap: 10px;
  }

  .about__text-wrapper {
    max-width: 520px;
  }

  .about__text {
    font-size: 20px;
    line-height: 140%; /* 28px */
    letter-spacing: -1px;
  }

  /* stages */

  .stages__container {
    padding: 32px 12px;
    min-height: 636px;
  }

  .stage {
    padding: 10px;
  }

  .stage__wrapper {
    gap: 10px;
  }

  .stage__title {
    font-size: 22px;
  }

  .stage__photo {
    max-width: 256px;
    max-height: 48px;
    border-radius: 50px;
  }

  .stage__description {
    width: 240px;
  }

  .stage--active {
    min-height: 279px;
  }

  .stage--active .stage__photo {
    max-height: 153px;
  }

  .stage__date {
    letter-spacing: -0.8px;
  }

  /* experts */

  .experts__container {
    padding: 32px 12px;
    gap: 15px;
  }

  .expert {
    width: 218px;
  }

  .experts__item {
    max-height: 299px;
    height: auto !important;
  }

  .experts__list {
    margin-bottom: 42px;
    gap: 0;
  }

  .expert__name {
    font-size: 18px;
  }

  .expert__position {
    font-size: 16px;
  }

  /* nominations */

  .nominations {
    padding-top: 32px;
  }

  .nomination__photo {
    width: 100%;
  }

  .nominations__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }

  .nomination__text {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.7px;
  }

  .nomination__description {
    gap: 12px;
  }

  .nominations__button-container {
    padding: 22px 12px;
    background-image: url(../img/nominations-background-768.webp);
  }

  .nominations__button {
    line-height: 165%;
  }

  /* members */

  .members {
    padding: 32px 0;
  }

  .subtitle--members {
    margin-bottom: 14px;
  }

  .video {
    padding: 32px 0;
  }

  .video__text {
    max-width: 744px;
    font-size: 20px;
  }

  .video__wrapper {
    gap: 28px;
  }

  .video__player {
    max-width: 744px;
  }

  .video__player iframe {
    width: 744px;
    height: 389px;
  }

  /* winners */

  .winners__container {
    padding: 28px 12px 36px;
    background-image: url(../img/winners-background-768.webp);
  }

  .slider__buttons--winners {
    transform: translateY(3px);
  }

  /* program */

  .program {
    padding: 32px 12px;
    background-image: none;
  }

  .program__title {
    font-size: 22px;
  }

  .program__text {
    text-align: center;
  }

  .program__bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .program__speekers {
    padding-left: 20px;
  }

  .program__speeker-name {
    font-size: 18px;
  }

  .program__speeker-position {
    font-size: 14px;
  }

  .program__text {
    font-size: 14px;
  }

  .partners {
    padding: 32px 12px;
  }

  /* contacts */

  .contacts__container {
    padding: 32px 12px 43px;
    background-image: url(../img/contacts-background-768.webp);
  }

  .contacts__text {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.7px;
  }

  .contacts__name {
    font-size: 18px;
    line-height: normal;
  }

  /* footer */

  .footer {
    padding: 32px 0;
  }

  /* form */

  .modal {
    max-width: 581px;
    padding: 20px;
    align-items: center
  }

  .modal__title {
    font-size: 22px;
    line-height: 140%;
    text-transform: initial;
    letter-spacing: -1.01px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
  }

  .form__consent-group {
    width: 100%;
  }
  .form__fields {
    width: 100%;
  }

  .form__input {
    font-size: 14px;
  }

  .form__legend {
    font-size: 14px;
    line-height: 178%;
  }

  .form__radio-label {
    font-size: 14px;
  }

  .button--form {
    max-width: 512px;
    padding: 11px 30px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    height: 40px;
  }
  .title {
    font-size: 60px;
    line-height: 76%;
  }

  /* hero */

  .hero__middle {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .hero__line {
    display: flex;
    justify-content: center;
  }
  .video__player {
    max-width: 100%;
  }

  .hero__wrapper {
    background-image: url(../img/hero-background-320.webp);
  }

  .hero__text {
    font-size: 12px;
  }

  .hero__text-wrapper {
    max-width: 320px;
    width: 100%;
    background-image: url(../img/hero-block-top-320.webp);
  }

  .hero__bottom {
    display: flex;
    justify-content: center;
    margin-right: 0;
    padding-left: 0;
    background-image: url(../img/hero-block-bottom-320.webp);
    background-size: contain;
  }
  .video__player iframe {
    width: 500px;
    height: 230px;
  }

  /* about */

  .about__buttons {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* stage */

  .stage {
    flex-direction: column;
    transition: background 0.2s ease-in-out 0.1s;
  }

  .stage__text {
    transition: opacity 0.3s ease-in-out 0.2s;
  }

  /* nominations */

  .nominations__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .nomination {
    border-radius: 16px;
  }

  .nomination__image {
    width: 100%;
  }

  .swiper {
    max-width: 520px;
  }

  /* program */
  .program__speekers {
    flex-direction: column;
  }

  .contacts__people {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* contacts */
  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .experts__list {
    gap: 10px;
  }

  .button--contacts {
    width: 100%;
  }

  .contacts__text {
    text-align: center;
  }

  .slider__buttons--winners {
    transform: none;
  }
  /* footer */

  .footer__logo {
    display: none;
  }

  .footer__logo--mobile {
    display: block;
  }

  /* form */

  .modal {
    max-width: 400px;
  }

  .form__link {
    display: block;
    padding-left: 0;
  }

  .form__consent-label {
    display: inline;
  }
}

@media screen and (max-width: 516px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
  }

  /* header */

  .hero__container {
    padding: 0;
  }

  .header__top {
    max-width: 100%;
  }

  .header__logo {
    width: 99px;
    height: 20px;
  }

  .button_menu {
    height: 8px;
  }

  /* hero */

  .hero__middle {
    gap: 60px;
    margin-bottom: 7px;
  }

  .hero__text {
    max-width: 100%;
    font-size: 14px;
    line-height: 122%;
  }

  .hero__text-wrapper {
    padding: 11px 8px;
  }

  .hero__middle::before {
    width: 130px;
    height: 130px;
    border-radius: 10px;
  }

  .hero__wrapper {
    padding-top: 43px;
    padding-bottom: 8px;
    background-size: auto;
    background-position: -71px bottom;
  }

  /* about */

  .about__container {
    padding: 0;
  }

  .about__text-wrapper {
    padding: 10px;
  }

  .about__bottom {
    background-image: url(../img/about-background-320.webp);
  }

  .about__text {
    font-size: 16px;
    line-height: 139%; /* 22.4px */
    letter-spacing: -0.8px;
  }

  .stages__container {
    padding: 29px 10px 28px;
  }

  .video__player iframe {
    width: 300px;
    height: 157px;
  }

  /* stages */

  .stage {
    gap: 0;
  }

  .stages__list {
    gap: 10px;
  }

  .stage__title {
    text-align: center;
  }

  .stage__photo {
    max-width: none;
  }

  .stage--active .stage__title {
    text-align: left;
  }

  .stages__container {
    background-image: url(../img/stages-background-320.webp);
  }

  .stage--active .stage__date {
    display: none;
  }

  .stage--active .stage__date--mobile {
    display: block!important;
    font-size: 14px;
  }

  .stages__container {
    min-height: 722px;
  }

  .stage__wrapper {
    flex-direction: column;
    max-height: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
  }

  .stage--active .stage__photo {
    max-height: 167px;
    border-radius: 10px;
  }

  .stage--active .stage__wrapper {
    max-height: 700px;
    opacity: 1;
  }

  .stage--active {
    gap: 10px;
  }

  .stage__text {
    max-height: inherit;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 143%;
    opacity: 1;
  }

  /* experts */

  .experts__container {
    padding: 32px 0;
  }

  .experts__list {
    gap: 6px;
  }

  /* nomination */

  .nomination {
    border-radius: 10px;
  }

  .nominations__list {
    gap: 12px;
  }

  .nomination__text {
    line-height: 142%;
  }

  .nominations__button-container {
    background-image: url(../img/nominations-background-320.webp);
  }

  /* members */

  .members__container {
    padding: 0;
  }

  .swiper {
    max-width: 320px;
  }

  .video__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 138%;
    letter-spacing: -0.8px;
  }

  .video__wrapper {
    gap: 20px;
  }

  /* winners */

  .winners__container {
    padding: 27px 0 32px;
  }

  .subtitle--winners {
    margin-bottom: 15px;
  }

  /* program */

  .program__title {
    line-height: 123%;
    transform: translateX(-1px);
  }

  .program__speekers {
    padding-left: 0;
  }

  .program__speeker-description {
    gap: 14px;
  }

  .program__bottom {
    gap: 19px;
  }

  /* contacts */

  .contacts__container {
    padding: 32px 10px;
    background-image: url(../img/contacts-background-320.webp);
  }

  .contacts__name {
    max-width: 179px;
  }

  .contacts__text {
    margin-bottom: 19px;
    text-align: left;
  }

  /* form */

  .modal-overlay {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    width: 100%;
    padding: 20px 10px;
    border-radius: 0;
    transform: none;
  }

  .form__line {
    flex-direction: column;
    gap: 14px;
  }

  .form__input-group {
    margin-bottom: 22px;
  }

  .form__consent-label {
    display: inline;
  }

  .modal__close {
    top: 20px;
    right: 12px;
    background-image: url("../img/icons/close-icon-mobile.svg");
  }
}
