html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* global */

:root {
  --color-dark: #000;
  --color-green: #adf62f;
  --color-purple: #9747ff;
  --color-light-purple: #ac6dff;
  --color-transparent-purple: #d5a2fa;
  --color-FFB84D: #ffb84d;
  --color-light-green: #e6ffbb;
  --color-grey: #717171;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.otf") format("otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.otf") format("otf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.otf") format("otf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), url("../fonts/Inter-Bold.otf") format("otf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-ExtraBold"),
    url("../fonts/Inter-ExtraBold.otf") format("otf");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

.page {
  min-width: 320px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 20px 30px;
  border: none;
  border-radius: 62px;
  outline: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--color-dark);
  background-color: var(--color-green);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}

.button--external {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button--purple {
  background-color: var(--color-purple);
  color: white;
  width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.subtitle {
  color: #717171;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &::before {
    content: ".";
    margin-right: 1px;
  }
}

/* header */

.header {
  padding: 10px 0;
  background-color: var(--color-light-purple);
}

.header__top {
  max-width: 322px;
  padding: 10px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: white;
}

.button_menu {
  background-color: white;
  padding: 0;
  width: 26px;
  height: 8px;
  border-radius: 0;
  background-image: url("../img/header-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* hero */

.hero__wrapper {
  min-height: 648px;
  padding-top: 267px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("../img/hero-back.png"); */
  background-position: center;
  background-color: var(--color-purple);
}

.hero__middle {
  display: flex;
  padding-left: 502px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero__line {
  width: 100%;
  border-radius: 0px 160px 160px 0px;
}

.hero__container {
  padding: 0;
}

.hero__middle::before {
  content: "";
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 198px;
  aspect-ratio: 1/1;
  background: url("../img/hero-block.png");
  background-blend-mode: darken;
}

.hero__text-wrapper {
  width: 100%;
  padding: 13px 35px 14px 10px;
}

.hero__text {
  color: white;
  max-width: 248px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

/* about */

.about__buttons {
  width: 100%;
  padding: 42px 40px;
  display: flex;
  gap: 30px;
}



.button--external::after,
.nominations__button::after {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background: url("../img/arrow-up-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.about__container {
  padding: 0;
}

.about__bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 72px 40px;
  background-image: url("../img/about-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__text-wrapper {
  max-width: 731px;
  padding: 30px;
  border-radius: 20px;
  background: var(--color-light-green);
}

.about__text {
  color: #000;
  text-align: center;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -1.4px;
}

/* stages */

.stages__container {
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-color: var(--color-light-green);
  background-image: url("../img/stage-background.png");
  background-size: cover;
}

.stages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stage {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #9747ff;
  background: #fff;
  transition: border 0.3s ease-in-out 0.2s, background 0.3s ease-in-out 0.2s;
}

.stage__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -1.2px;
}

.stage__wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.stage__photo {
  display: block;
  max-width: 347px;
  max-height: 68px;
  overflow: hidden;
  border-radius: 50px;
  transition: max-height 0.3s ease-in-out;
}

.stage__description {
  width: 268px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.stage__subtitle {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.9px;
}

.stage__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stage__date {
  color: var(--color-grey);
  font-size: 16px;
  font-style: normal;
  line-height: 140%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.stage__text {
  max-height: 0px;
  color: var(--color-grey);
  font-size: 16px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.8px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s;
}

.stage:hover .stage__text {
  max-height: 300px;
  opacity: 1;
}

.stage:hover {
  background: var(--color-green);
  border: 1px solid var(--color-green);
}

.stage:hover .stage__date {
  opacity: 1;
}

.stage:hover .stage__photo {
  max-height: 208px;
}

/* experts */

.experts__container {
  padding: 0;
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-transparent-purple);
}

.subtitle--experts {
  color: var(--color-dark);
}

.experts__list {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.experts__item {
  height: 100%;
}

.expert {
  display: flex;
  gap: 12px;
  height: 100%;
  /* width: 236px; */
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.expert__photo {
  max-height: 236px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.expert__description {
  display: flex;
  padding: 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.expert__name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
}

.expert__position {
  color: var(--color-grey);
  font-size: 16px;
  letter-spacing: -0.8px;
}

.swiper {
  width: 100%;
}

.slider__buttons {
  display: flex;
  align-items: flex-start;
  justify-self: center;
  gap: 20px;
}

.slider__button {
  width: 38px;
  height: 38px;
  background-image: url("../img/arrow-up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.slider__button:hover {
  opacity: 1;
}

.slider__button_next {
  transform: rotate(180deg);
}

/* nominations */

.nominations {
  padding-top: 72px;
}

.nominations__list {
  padding-top: 12px;
  margin-bottom: 72px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.nomination {
  display: flex;
  height: 100%;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid #9747ff;
  background: #fff;
}

.nomination__description {
  display: flex;
  padding: 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.nomination__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
}

.nomination__text {
  color: var(--color-grey);
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 140%
}

.nomination__link {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 8px;
  border-radius: 30px;
  padding: 8px 12px;
  color: #6f24d0;
  font-size: 16px;
  line-height: 140%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  transition: background 0.3s ease-in-out;
}

.nomination__link:hover {
  background-color: white
}

.nomination__link::after {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background: url("../img/arrow-up-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.nomination__photo {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 234px;
}

.nominations__button {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nominations__button-container {
  display: flex;
  padding: 72px 40px;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../img/nominations-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* members */

.members {
  padding: 42px 0;
  background-color: var(--color-transparent-purple);
}

.members__container {
  padding: 0;
}

.subtitle--members {
  margin-bottom: 12px;
}

.swiper-button-lock {
  display: block !important;
}

.video {
  padding: 72px 0;
}

.subtitle--video {
  margin-bottom: 12px;
}

.video__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video__text {
  font-size: 28px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -1.4px;
}

.winners {
  padding: 72px 0;
  background-image: url("../img/winners-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.subtitle--winners {
  margin-bottom: 12px;
}

.slider__buttons--winners .slider__button {
  border: 1px solid var(--color-purple);
  opacity: 0.7;
}

.winners .expert {
  border: 1px solid #d5a2fa;
}

/* program */

.program {
  padding: 72px 40px;
  background-color: var(--color-light-green);
  background-image: url("../img/program-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.program__container {
  padding: 0;
}

.subtitle--program {
  margin-bottom: 12px;
}

.program__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.program__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.program__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
}

.program__time {
  font-size: 20px;
  letter-spacing: -1px;
}

.program__time--tablet {
  display: none;
}

.program__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.program__speekers {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.program__speeker {
  max-width: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.program__speeker-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.program__speeker-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.program__speeker-position {
  color: #717171;
  font-size: 16px;
  letter-spacing: -0.8px;
}

.program__speeker-photo {
  width: 90px;
  height: 90px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 70px;
  overflow: hidden;
}

.program__text {
  max-width: 519px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.8px;
}

.partners {
  padding: 72px 0;
  background-image: url("../img/partnerts-background.png");
}

.subtitle--partners {
  margin-bottom: 12px;
  color: #000;
}

.partners__list {
  min-height: 166px;
}

.partners__item {
  height: 100%;
  align-self: center;
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* contacts */

.contacts__container {
  position: relative;
  padding: 72px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/contacts-left-background.png");
  background-repeat: no-repeat;
}

.contacts__container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/contacts-right-background.png");
  background-repeat: no-repeat;
  background-position: right;
}

.subtitle--contacts {
  margin-bottom: 12px;
}

.contacts__wrapper {
  max-width: 638px;
  display: flex;
  gap: 20px;
}

.contacts__people {
  min-width: 179px;
}

.contacts__text {
  margin-bottom: 30px;
  color: var(--color-dark);
  font-size: 16px;
  letter-spacing: -0.8px;
}

.contacts__name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.contacts__photo {
  width: 155px;
  height: 155px;
  flex-shrink: 0;
  border-radius: 10px;
}

/* footer */

.footer {
  background-color: var(--color-purple);
}

.footer__link {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
